.cart-item {
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 13px;
  background: var(--color-additional);
  width: 330px;
  height: 210px;
  margin-top: 0.5rem;
  box-shadow: 0px 0px 5px 5px var(--color-primary);
  border: 3px solid gray;
  border-radius: 15px;
}

.cart-img {
  width: 40%;
  border-right: 2px solid var(--color-primary);
  border-radius: 12px 0px 0px 12px;
}

.cart-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 0 5%; */
  align-items: center;
  position: relative;
}

.cart-center-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 54px;
}
.cart-title {
  font-weight: 900;
  margin: 5px;
}

.cart-year-genre {
  font-size: 13px;
  font-weight: normal;
}

.cart-price {
  font-size: 1.5rem;
  width: 80%;
  position: absolute;
  bottom: 90px;
}
.cart-price-count-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  align-items: flex-end;
  text-align: left;
  position: absolute;
  bottom: 50px;
  width: 90%;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding: 4px 0px;
}

.cart-item-buttons-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 34px;
  position: absolute;
  bottom: 8px;
}

.cart-item-button {
  width: 100%;
  border-radius: 0.5rem;
}
