.admin-order-wrapper {
  padding-bottom: 0.5rem;
}

.admin-order-card {
  color: white;
  /*display: flex;
  justify-content: center;
  */
  margin: 0rem 3rem 3rem 3rem;
  border: 2px solid black;
}

.design {
  border: 1px solid #61dafb;
  background: #282c34;
  padding: 5px;
}

.row-wrapper {
  background: lightgray;
  padding: 5px;
  margin-left: 100px;
  margin-top: 4px;
  border: 2px solid black;
  color: black;
}
