#bakgrund {
    background: #61dafb;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    padding-bottom: 25px;
}

#products {
    text-align: center;
    font-size: 24px;
}