.film-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-title {
  text-align: center;
  padding: 2rem 0rem;
  font-size: 3rem;
  color: #282c34;
  text-shadow: 0px 4px 4px var(--color-primary);
}
