#header {
    background-color: #282c34;
    width: 100%;
    
  
    color: white;
}



#wrapper {
    max-width: 1440px;
    margin: auto;
    position: relative;
    text-align: left;
    display: flex;
    height: 100px;
}

#rubrik {
    font-weight: 700;
    /* font-size: 30px; */
    font-size: calc(13px + 5vmin);
    padding-left: 20px;
    margin: auto 0;
}

#cart-wrapper {
    /*display: block;
    width: 48px;
    height: 48px;
    */position: absolute;
    top: 23px;
    right: 23px;
    border: 2px solid #61dafb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#icon-wrapper {
    position: relative;
}
#cart-icon {
    width: 48px;
    height: 48px;
    padding: 5px;
}

#amount {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    background: green;
    border: 1px solid #61dafb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}