.header-wrapper {
    height: 100px;
}

#company-logo {
    font-size: calc(13px + 5vmin);
    margin-bottom: 0.3rem;
}

#icon-wrapper {
    border: 2px solid #61dafb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#cart-icon {
    width: 48px;
    height: 48px;
    padding: 5px;
}

#cart-amount {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background: green;
    border: 1px solid #61dafb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}